
@{
    ViewData["Title"] = "Index";
}

<h1>Contact Information</h1>

<p>Name: Steven Ballard</p>
<p>Email: stevenballardstudios@gmail.com</p>
<p>Youtube Channel: <a>https://www.youtube.com/channel/UC8ULu6gex51UKHMix5heZuw</a></p>