@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ballard's Hot Whehels Auction Site</h1>
    <p>A website where you can sell your old hot wheels in an auction house format</p>
</div>
